{% extends "base.html" %}

{% block title %}
    {% if zoo %}
        Editar Zoológico
    {% else %}
        Añadir Nuevo Zoológico
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="section-title">
        {% if zoo %}
            Editar Sucursal: {{ zoo.Nombre }}
        {% else %}
            Añadir Nueva Sucursal
        {% endif %}
    </h2>

    <form method="post" class="form-styled">
        <div class="form-group">
            <label for="nombre">Nombre del Zoológico</label>
            <input type="text" id="nombre" name="nombre" value="{{ zoo.Nombre if zoo else '' }}" required>
        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" id="ciudad" name="ciudad" value="{{ zoo.Ciudad if zoo else '' }}" required>
        </div>
        <div class="form-group">
            <label for="pais">País</label>
            <input type="text" id="pais" name="pais" value="{{ zoo.Pais if zoo else '' }}" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" name="direccion" value="{{ zoo.Direccion if zoo else '' }}" required>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" name="telefono" value="{{ zoo.Telefono if zoo else '' }}">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% if zoo %}
                    Actualizar Zoológico
                {% else %}
                    Guardar Zoológico
                {% endif %}
            </button>
            <a href="{{ url_for('admin.list_zoologicos') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
