{% extends "base.html" %}

{% block title %}Quienes Somos{% endblock %}

{% block content %}
<div class="container">

    <div class="section" id="about">
        <div class="card">
            <h2>Sobre la Empresa</h2>
            <p>
                Somos un grupo de estudiantes desarrollando un sistema que permita optimizar la compra de boletos para zoológicos, facilitando el acceso a los usuarios mediante un proceso ágil, seguro y sin filas, mejorando así la experiencia del visitante y la eficiencia en el servicio
            </p>
        </div>
    </div>

    <div class="section" id="services">


        <div class="section" id="mission">
            <div class="card">
                <h2>Misión</h2>
                <p>
                    Proporcionar soluciones de alta calidad que impulsen el crecimiento de nuestros clientes.
                </p>

                <h2>Visión</h2>
                <p>
                    Ser un grupo de estudiantes comprometidos con el desarrollo de software y la innovación tecnológica.
                </p>
            </div>
        </div>

        <div class="section" id="contact">
            <div class="card">
                <h2>Contacto</h2>
                <p>Email:zooticket@gmail.com</p>
                <p>Teléfono: +52 123 456 7890</p>
                <p>Dirección: Toluca, México</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}