<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zoológico{% endblock %}</title>
    <!-- Incluimos nuestro archivo CSS que está en static/css/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% block content %}{% endblock %}

    <footer>
        &copy; 2024 Red de Zoológicos. Todos los derechos reservados.
    </footer>
</body>
</html>